.example-card {

  width: 100%; /* Ensures card does not exceed 400px but can be smaller */
  height: 100%; /* Makes height flexible */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  margin: auto; /* Centers card with automatic horizontal margins */
  padding: auto;
  overflow: hidden;
}

.card-layout {
  display: flex;
  width: 100%;
  height: 100%;
}

.card-image {
  max-width: 40%; /* Relative width to make it responsive */
  height: auto; /* Adjust height automatically based on its width */
  object-fit: cover; /* Ensures the image covers the designated area without distortion */
}

.mat-card-header {
  text-align: center;
  width: 100%; /* Ensures the header takes full width when wrapping */
}

.card-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px; /* Provides some padding inside the details */
  justify-content: center; /* Centers content vertically in available space */
}

.hero-name {
  font-size: 1.5em; /* Increases font size for hero name */
  font-weight: bold; /* Makes the name bold */
}

.stat {
  display: flex;      /* Establishes a flex container */
  align-items: center; /* Vertically centers the contents */
  justify-content: flex-start; /* Spreads the label and progress bar apart */
  width: 100%;        /* Ensures the container takes full width */
}

.stat label {
  display: inline; /* Ensures the label respects the width property */
  width: 40px;          /* Adjust this width based on your longest label */
  margin-right: 5%;    /* Optional: Adds some space between the label and the progress bar */
  text-align: left;     /* Aligns text to the right for aesthetic consistency */
}

mat-progress-bar {
  width: 100%;
  border-radius: 15px;
  color: steelblue;
  
}

@media (max-width: 600px) {
  .example-card {
    flex-direction: column; /* Stacks elements vertically on smaller screens */
  }

  .card-image {
    width: 100%; /* Full width on smaller screens */
  }

  .card-details {
    order: 1; /* Ensures details come before image if needed */
  }
}
