@use "@angular/material" as mat;


.mat-grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px; /* Increased gap for better spacing between cards */
    padding: 10px;
    justify-content: center; /* Centers cards in the grid */
    align-items: start; /* Aligns items at the start of the grid cell */
    box-sizing: border-box; /* Ensures padding doesn't affect the total width */
}

.mat-grid-tile{
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  padding: 5rem auto;
  border-radius: 25px;
}

.app-hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  flex-wrap: wrap;
  margin: auto; /* Centers card with automatic horizontal margins */
  padding: auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card-layout {
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 5%;
  align-items: space-between;
  cursor: pointer;
}

.card-image {
  max-width: 40%; /* Relative width to make it responsive */
  height: auto; /* Adjust height automatically based on its width */
  object-fit: cover; /* Ensures the image covers the designated area without distortion */
}

.mat-card-header {
  text-align: center;
  width: 100%; /* Ensures the header takes full width when wrapping */
}

.card-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px; /* Provides some padding inside the details */
  justify-content: center; /* Centers content vertically in available space */
}

.hero-name {
  font-size: 1.5em; /* Increases font size for hero name */
  font-weight: bold; /* Makes the name bold */
  display: flex;
  justify-content: center;
}

.stat {
  display: flex;      /* Establishes a flex container */
  align-items: center; /* Vertically centers the contents */
  justify-content: flex-start; /* Spreads the label and progress bar apart */
  width: 100%;        /* Ensures the container takes full width */
}

.stat label {
  display: inline; /* Ensures the label respects the width property */
  width: 50px;          /* Adjust this width based on your longest label */
  margin-right: 5%;    /* Optional: Adds some space between the label and the progress bar */
  text-align: left;     /* Aligns text to the right for aesthetic consistency */
}

mat-progress-bar {
  width: 100%;
  border-radius: 15px;
  color: blue;
  
}

.stats_bar{
  width: 100%;
  height: 10px;
  background: white;
  border-radius: 5px;
  position: relative;
  
}

.stats_bar::after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: var(--percent);
  height: 100%;
  background: blue;
  border-radius: 5px;
  animation: loadAnimation 1s ease-out forwards;
}

.search-container {
  display: flex;
  padding: 1%;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

input[type="text"] {
  width: 60%;
  padding: 8px;
  box-shadow: 0 2px 6px #ccc;
  border-radius: 4px;
  
  
}

@media (max-width: 600px) {
  .example-card {
    flex-direction: column; 
  }

  .card-image {
    width: 100%; 
  }

  .card-details {
    order: 1; 
  }
}

.title{
  text-align: center;
  font-weight: bold; 

}

hr.solid{
  border-top: 5px solid #000;
  width: 100%;
  border-radius: 5px;
}

.page_content{
  width: 90%;
  margin:auto
}

/* Add to your component's CSS file */
@keyframes loadAnimation {
  from {
    width: 0%;
  }
  to {
    width: var(--percent);
  }
}

.custom-progress .mat-progress-bar-fill::after {
  animation: loadAnimation 2s ease-out forwards;
}

