<h1 class="title">SuperHero DB</h1>

<div class="page_content">
    <hr class="solid">
    <div class="search-container form-outline mt-3">
        <input type="text" placeholder="Search heroes..." [(ngModel)]="searchText" class="form-control">
    </div>
      
    <mat-grid-list [cols]="numCols" [rowHeight]="rowHeightRatio" [gutterSize]="gutterSize">
        <mat-grid-tile *ngFor="let hero of heroes | async | filter: searchText" (click)="goToHero(hero.id)">
          <div class="card-layout">
            <img mat-card-image src="{{ hero.images.lg }}" alt="Photo of a Hero" class="card-image">
            <div class="card-details">
              <mat-card-header>
                <mat-card-title class="hero-name">{{hero.name}}</mat-card-title>
              </mat-card-header>
        
              <mat-card-content>
                <div class="stat">
                  <label>CBT</label> 
                  <div class="stats_bar" style="--percent: {{hero.powerstats.combat}}%"></div>
                </div>
                <div class="stat">
                  <label>DUR</label>
                  <div class="stats_bar" style="--percent: {{hero.powerstats.durability}}%"></div>
                </div>
                <div class="stat">
                  <label>INT</label>
                  <div class="stats_bar" style="--percent: {{hero.powerstats.intelligence}}%"></div>
                </div>
                <div class="stat">
                  <label>POW</label>
                  <div class="stats_bar" style="--percent: {{hero.powerstats.power}}%"></div>
                </div>
                <div class="stat">
                  <label>SPD</label>
                  <div class="stats_bar" style="--percent: {{hero.powerstats.speed}}%"></div>
                </div>
                <div class="stat">
                  <label>STR</label>
                  <div class="stats_bar" style="--percent: {{hero.powerstats.strength}}%"></div>
                </div>
              </mat-card-content>
            </div>
          </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>-

